.menu {
  background-color: #333;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow-y: auto;
}
.nav__name{
  color: rgb(8, 105, 190)
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.menu ul li a:hover {
  background-color: #555;
}

.content {
  margin-left: 220px; 
  padding: 20px;
}
